<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <clear/>
    <add name="MsSqlConnectionString" connectionString="Data Source=localhost;Initial Catalog=Chinook; User ID=genUser; Password=P#ss4word;" providerName="System.Data.SqlClient" />
    <add name="MsSqlWinAuthConnectionString" connectionString="Data Source=localhost; Initial Catalog=Chinook;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="SqliteConnectionString" connectionString="Data Source=Data\Chinook_Sqlite_AutoIncrementPKs.sqlite;Version=3;" providerName="System.Data.SQLite" />
    <add name="MySqlConnectionString" connectionString="server=127.0.0.1;port=3306;user id=root; password=1111; database=hotel" providerName="MySql.Data.MySqlClient" />
    <add name="MySqlConnectionString2" connectionString="server=127.0.0.1;port=3306;database=Sakila;user id=root;password=password#1" providerName="MySql.Data.MySqlClient" />
    <add name="MySqlConnectionString3" connectionString="server=127.0.0.1;port=3306;database=World;user id=root;password=password#1" providerName="MySql.Data.MySqlClient" />
    <add name="SqlConnectionString" connectionString="Data Source =.; Initial Catalog = QLKHACHSAN; Persist Security Info = True; User ID = sa; Password = " providerName="System.Data.SqlClient" />
    <add name="PostgreSqlConnectionString" connectionString="Server=127.0.0.1;port=5432;Database=Chinook;User Id=postgres;Password=password#1;" providerName="Npgsql" />
  </connectionStrings>
</configuration>